In [1]:
import json

import numpy as np

import pandas as pd

In [2]:
with open("result.json", "r", encoding="utf8") as f:
    
    twitters = json.load(f)

In [5]:
key_movies = list(twitters.keys())

len(key_movies)

1291

In [2]:
movies_original = "./ml-latest-small/movies.csv"

movies_info = pd.read_csv(movies_original)

movies_info[:5]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [34]:
genres = ['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary',
          'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
          'Thriller', 'War', 'Western', 'IMAX']

classcify_movies = {}

for gr in genres:
    classcify_movies[gr] = []

In [35]:
classcify_movies.keys()

dict_keys(['Comedy', 'Children', 'Sci-Fi', 'Drama', 'Fantasy', 'Animation', 'Horror', 'Crime', 'War', 'IMAX', 'Musical', 'Documentary', 'Adventure', 'Mystery', 'Romance', 'Thriller', 'Action', 'Western', 'Film-Noir'])

In [36]:
print(movies_info.shape)

(9125, 3)

In [37]:
movies_info = np.array(movies_info)

not_g = []

movie_id = {}

for movie in movies_info:
    
    id_, title_info, gerens_ = movie
            
    info_list = title_info.split('(') 
    
    if len(info_list) == 2:
        
        title, year = info_list
        title = title.rstrip()
        
        if title in key_movies:
            
            movie_id[title] = id_
            
            for g in gerens_.split('|'):
                if g in classcify_movies:
                    classcify_movies[g].append(title)
                else:
                    not_g.append(g)

In [38]:
result = []
for key, value in classcify_movies.items():
    result.extend(value)

In [39]:
len(set(result))

1280

In [40]:
import json
with open('moviefilters.json', 'w', encoding="utf8") as outfile:
    json.dump(classcify_movies, outfile)

In [41]:
# title to id 

len(movie_id)

1291

In [43]:
# id to title and average rating 

movies_aggregate_info = {}

for key, value in movie_id.items():
    
    temp_dict = {}
    
    temp_dict['id'] = key
    temp_dict['rating_sum'] = 0
    temp_dict['rating_cnt'] = 0
    
    movies_aggregate_info[value] = temp_dict

In [44]:
for key, value in movies_aggregate_info.items():
    print(key, value)
    break

122882 {'id': 'Mad Max: Fury Road', 'rating_cnt': 0, 'rating_sum': 0}

In [46]:
rating_file = "./ml-latest-small/ratings.csv"

rating_data = pd.read_csv(rating_file)

rating_data[:5]

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [48]:
rating_data = np.array(rating_data)

for row in rating_data:
    userid, movieid, rating, ts = row
    
    if movieid in movies_aggregate_info:
        movies_aggregate_info[movieid]['rating_cnt'] += 1
        movies_aggregate_info[movieid]['rating_sum'] += rating

In [51]:
for key, value in movies_aggregate_info.items():
    if movies_aggregate_info[key]['rating_cnt'] != 0:
        movies_aggregate_info[key]['rating_ave'] = movies_aggregate_info[key]['rating_sum']/movies_aggregate_info[key]['rating_cnt']
    else:
        movies_aggregate_info[key]['rating_ave'] = 0

In [53]:
new_movies_aggregate_info = {}

for key, value in movies_aggregate_info.items():
    title = value['id']
    id_ = key
    value['id'] = id_
    new_movies_aggregate_info[title] = value

In [54]:
import json
with open('movie_infor.json', 'w', encoding="utf8") as outfile:
    json.dump(new_movies_aggregate_info, outfile)

In [55]:
count = 0 

for key, value in new_movies_aggregate_info.items():
    
    count += 1
    
    if count == 50:
        break

Kung Fu Panda 2 {'id': 87222, 'rating_cnt': 6, 'rating_sum': 23.0, 'rating_ave': 3.8333333333333335}
Foxcatcher {'id': 116161, 'rating_cnt': 3, 'rating_sum': 8.0, 'rating_ave': 2.6666666666666665}
Your Highness {'id': 87529, 'rating_cnt': 3, 'rating_sum': 4.0, 'rating_ave': 1.3333333333333333}
Fair Game {'id': 81641, 'rating_cnt': 1, 'rating_sum': 3.5, 'rating_ave': 3.5}
The Theory of Everything {'id': 117176, 'rating_cnt': 12, 'rating_sum': 44.0, 'rating_ave': 3.6666666666666665}
Real Steel {'id': 90249, 'rating_cnt': 3, 'rating_sum': 9.0, 'rating_ave': 3.0}
Charlie St. Cloud {'id': 79588, 'rating_cnt': 1, 'rating_sum': 3.5, 'rating_ave': 3.5}
Maximum Conviction {'id': 99320, 'rating_cnt': 1, 'rating_sum': 2.0, 'rating_ave': 2.0}
Finding Dory {'id': 157296, 'rating_cnt': 3, 'rating_sum': 10.0, 'rating_ave': 3.3333333333333335}
Water for Elephants {'id': 86548, 'rating_cnt': 2, 'rating_sum': 8.5, 'rating_ave': 4.25}
Incredible Burt Wonderstone, The {'id': 101283, 'rating_cnt': 1, 'rating_sum': 2.5, 'rating_ave': 2.5}
The Possession of Michael King {'id': 116503, 'rating_cnt': 1, 'rating_sum': 1.5, 'rating_ave': 1.5}
Bill Cunningham New York {'id': 89090, 'rating_cnt': 1, 'rating_sum': 1.5, 'rating_ave': 1.5}
Apartment 143 {'id': 96634, 'rating_cnt': 1, 'rating_sum': 1.0, 'rating_ave': 1.0}
The DUFF {'id': 126548, 'rating_cnt': 1, 'rating_sum': 3.0, 'rating_ave': 3.0}
Battle: Los Angeles {'id': 85131, 'rating_cnt': 8, 'rating_sum': 18.5, 'rating_ave': 2.3125}
Big Eyes {'id': 118985, 'rating_cnt': 2, 'rating_sum': 6.5, 'rating_ave': 3.25}
Best of Enemies {'id': 139757, 'rating_cnt': 2, 'rating_sum': 8.5, 'rating_ave': 4.25}
Larry Crowne {'id': 87522, 'rating_cnt': 2, 'rating_sum': 5.5, 'rating_ave': 2.75}
People, Places, Things {'id': 127206, 'rating_cnt': 1, 'rating_sum': 2.0, 'rating_ave': 2.0}
Louis C.K.: Live at the Beacon Theater {'id': 92535, 'rating_cnt': 5, 'rating_sum': 22.5, 'rating_ave': 4.5}
Sound of Noise {'id': 94939, 'rating_cnt': 1, 'rating_sum': 4.5, 'rating_ave': 4.5}
Cleanskin {'id': 95508, 'rating_cnt': 1, 'rating_sum': 3.5, 'rating_ave': 3.5}
The D Train {'id': 127194, 'rating_cnt': 1, 'rating_sum': 2.0, 'rating_ave': 2.0}
Mr. Peabody & Sherman {'id': 109846, 'rating_cnt': 1, 'rating_sum': 3.0, 'rating_ave': 3.0}
Shin Godzilla {'id': 163056, 'rating_cnt': 0, 'rating_sum': 0, 'rating_ave': 0}
Leap Year {'id': 73319, 'rating_cnt': 2, 'rating_sum': 6.0, 'rating_ave': 3.0}
Undefeated {'id': 93324, 'rating_cnt': 1, 'rating_sum': 5.0, 'rating_ave': 5.0}
Avengers: Age of Ultron {'id': 122892, 'rating_cnt': 13, 'rating_sum': 50.5, 'rating_ave': 3.8846153846153846}
The Skeleton Twins {'id': 114074, 'rating_cnt': 4, 'rating_sum': 12.0, 'rating_ave': 3.0}
Family Band: The Cowsills Story {'id': 104595, 'rating_cnt': 1, 'rating_sum': 4.0, 'rating_ave': 4.0}
Paranormal Activity: The Marked Ones {'id': 107769, 'rating_cnt': 1, 'rating_sum': 2.5, 'rating_ave': 2.5}
Two Escobars, The {'id': 79677, 'rating_cnt': 1, 'rating_sum': 5.0, 'rating_ave': 5.0}
Side Effects {'id': 100383, 'rating_cnt': 8, 'rating_sum': 28.0, 'rating_ave': 3.5}
Mama {'id': 99912, 'rating_cnt': 1, 'rating_sum': 2.5, 'rating_ave': 2.5}
West of Memphis {'id': 97395, 'rating_cnt': 1, 'rating_sum': 4.0, 'rating_ave': 4.0}
Final Destination 5 {'id': 88932, 'rating_cnt': 1, 'rating_sum': 1.0, 'rating_ave': 1.0}
Bachelorette {'id': 96565, 'rating_cnt': 1, 'rating_sum': 1.5, 'rating_ave': 1.5}
Giver, The {'id': 113378, 'rating_cnt': 3, 'rating_sum': 6.5, 'rating_ave': 2.1666666666666665}
Bad Asses on the Bayou {'id': 136816, 'rating_cnt': 1, 'rating_sum': 2.5, 'rating_ave': 2.5}
Despicable Me 2 {'id': 103335, 'rating_cnt': 8, 'rating_sum': 27.0, 'rating_ave': 3.375}
Hot Tub Time Machine {'id': 76077, 'rating_cnt': 10, 'rating_sum': 30.0, 'rating_ave': 3.0}
Under the Skin {'id': 109848, 'rating_cnt': 6, 'rating_sum': 19.0, 'rating_ave': 3.1666666666666665}
Felony {'id': 113186, 'rating_cnt': 1, 'rating_sum': 3.0, 'rating_ave': 3.0}
Girl Model {'id': 100034, 'rating_cnt': 1, 'rating_sum': 4.0, 'rating_ave': 4.0}
Crystal Fairy & the Magical Cactus and 2012 {'id': 105254, 'rating_cnt': 1, 'rating_sum': 3.0, 'rating_ave': 3.0}
Song of the Sea {'id': 117444, 'rating_cnt': 2, 'rating_sum': 7.5, 'rating_ave': 3.75}
Beginners {'id': 87304, 'rating_cnt': 3, 'rating_sum': 9.0, 'rating_ave': 3.0}
İtirazım Var {'id': 147426, 'rating_cnt': 1, 'rating_sum': 3.5, 'rating_ave': 3.5}
Paper Towns {'id': 128512, 'rating_cnt': 2, 'rating_sum': 7.0, 'rating_ave': 3.5}

In [1]:
import json

import numpy as np

import pandas as pd

In [2]:
# 1129

file_movie_infor = "./website/resource/movie_infor.json"

with open(file_movie_infor, 'r', encoding="utf8") as f:
    
    movie_infor_self = json.load(f, encoding="utf8")
    
for key, value in movie_infor_self.items():
    print(key)
    print(value)
    break

The Dressmaker
{'rating_cnt': 1, 'rating_sum': 3.0, 'id': 145150, 'rating_ave': 3.0}

In [3]:
print(len(movie_infor_self))

1291

In [5]:
movies_original = "./new_movieID.txt"

with open(movies_original, 'r', encoding="utf8") as f:
    
    for line in f.readlines():
        
        infor_list = line.rstrip().split(',')
        
        if len(infor_list) == 4:
            idx, title, year, genres_ = infor_list
            
        else:
            idx = infor_list[0]
            year = infor_list[-2]
            genres_ = infor_list[-1]
            title = infor_list[1:-2]
            
            title = ','.join(title)
            
#             print(idx, title, year, genres_)
        
        if title not in movie_infor_self:
            print("No")
        
        movie_infor_self[title]['year'] = year
        movie_infor_self[title]['genres'] = genres_

In [6]:
for key, value in movie_infor_self.items():
    print(key, value)
    break

The Dressmaker {'genres': 'Comedy|Drama|Thriller', 'id': 145150, 'rating_ave': 3.0, 'rating_cnt': 1, 'rating_sum': 3.0, 'year': '2015'}

In [8]:
import json
with open('movie_infor.json', 'w', encoding="utf8") as outfile:
    json.dump(movie_infor_self, outfile)